# Bank Customer Segmentation and Personalization
To effectively segment banking customers for targeted marketing and personalized services, we'll begin with Data Exploration and Preprocessing.

## Data Exploration & Preprocessing
### Examine the Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import joblib

# Load the dataset
df = pd.read_csv('bank_transactions.csv')

# Check the shape of the dataset (rows, columns)
print("Dataset shape (rows, columns):\n", df.shape)

# Get dataset information (column names, non-null counts, data types)
print("Dataset Info:\n")
df.info()

# Display first 5 rows
print("\nFirst 5 rows:\n", df.head())

Dataset shape (rows, columns):
 (1048567, 9)
Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048567 entries, 0 to 1048566
Data columns (total 9 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   TransactionID            1048567 non-null  object
 1   CustomerID               1048567 non-null  object
 2   CustomerDOB              1045170 non-null  object
 3   CustGender               1047467 non-null  object
 4   CustLocation             1048416 non-null  object
 5   CustAccountBalance       1046198 non-null  float64
 6   TransactionDate          1048567 non-null  object
 7   TransactionTime          1048567 non-null  int64
 8   TransactionAmount (INR)  1048567 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 72.0+ MB

First 5 rows:
   TransactionID CustomerID CustomerDOB CustGender CustLocation  \
0            T1   C5841053     10/1/94          F   JAMSHEDPUR
1            T2   C2142763      4/4/57          M      JHAJJAR
2            T3   C4417068    26/11/96          F       MUMBAI
3            T4   C5342380     14/9/73          F       MUMBAI
4            T5   C9031234     24/3/88          F  NAVI MUMBAI

   CustAccountBalance TransactionDate  TransactionTime  \
0            17819.05          2/8/16           143207
1             2270.69          2/8/16           141858
2            17874.44          2/8/16           142712
3           866503.21          2/8/16           142714
4             6714.43          2/8/16           181156

   TransactionAmount (INR)
0                     25.0
1                  27999.0
2                    459.0
3                   2060.0
4                   1762.5

Using Pandas and NumPy, we can compute summary statistics to understand the distributions of these features.

In [3]:
# Summary statistics for numerical columns
print("\nSummary Statistics:\n", df.describe())

# Total missing values per column
print("Missing values per column:\n", df.isnull().sum())

Summary Statistics:
        CustAccountBalance  TransactionTime  TransactionAmount (INR)
count        1.046198e+06     1.048567e+06             1.048567e+06
mean         1.154035e+05     1.570875e+05             1.574335e+03
std          8.464854e+05     5.126185e+04             6.574743e+03
min          0.000000e+00     0.000000e+00             0.000000e+00
25%          4.721760e+03     1.240300e+05             1.610000e+02
50%          1.679218e+04     1.642260e+05             4.590300e+02
75%          5.765736e+04     2.000100e+05             1.200000e+03
max          1.150355e+08     2.359590e+05             1.560035e+06
Missing values per column:
 TransactionID                 0
CustomerID                    0
CustomerDOB                3397
CustGender                 1100
CustLocation                151
CustAccountBalance         2369
TransactionDate               0
TransactionTime               0
TransactionAmount (INR)       0
dtype: int64